absl-py==2.1.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.1.1
cycler==0.12.1
einops==0.8.1
filelock==3.16.1
fonttools==4.56.0
fsspec==2025.3.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
huggingface-hub==0.29.3
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
numpy==1.24.4
oauthlib==3.2.2
packaging==24.2
pillow==10.4.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.5.3
scipy==1.10.1
six==1.17.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
timm==1.0.15
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
